/* log_in.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.custom-login-container {
  display: flex;
  height: 100vh;
}

.custom-left-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f7e9;
}
.custom-right-half{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f7e9;
  width: 50%;
}
.custom-background-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.custom-right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-login-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.custom-form-image {
  max-width: 150px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
  color: #2c6e49;
}

form {
  display: flex;
  flex-direction: column;
}

.custom-label {
  margin-bottom: 0.5rem;
  color: #2c6e49;
  font-weight: bold;
}

.custom-input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #c1e1c1;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: #2c6e49;
  outline: none;
}

.custom-button-container {
  margin-top: 1rem;
}

.custom-main-button {
  background-color: #2c6e49;
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.custom-main-button:hover {
  background-color: #1d4d33;
}
